@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins&display=swap');

/*
    font-family: 'Alkatra', cursive; -- footers
    font-family: 'Poppins', sans-serif; -- normal text

*/

.login-content{
    border: 1px solid rgb(190, 190, 190);
    margin: 50px 320px;
    width: 40%;
    padding: 50px 60px;
    border-radius: 5px;
}
.login-content .title{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.login-content .body input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border: 1px solid rgb(179, 179, 179);
    padding-left: 10px;
    border-radius: 2px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .login-content{
        border: 1px solid black;
        margin: 50px 40px;
        width: 80%;
        padding: 20px 30px;
    }
    .login-content .title{
        text-align: center;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
}

