@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins&display=swap');

/*
    font-family: 'Alkatra', cursive; -- footers
    font-family: 'Poppins', sans-serif; -- normal text

*/

.login-content{
    border: 1px solid rgb(190, 190, 190);
    margin: 50px 320px;
    width: 40%;
    padding: 50px 60px;
    border-radius: 5px;
}
.login-content .title{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.login-content .body input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border: 1px solid rgb(179, 179, 179);
    padding-left: 10px;
    border-radius: 2px;
}
.login-content .body .login-btn{
    width: 100%;
    height: 45px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(238, 32, 238), rgb(4, 106, 207));
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: 0.5s;
}
.login-content .body .login-btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(4, 106, 207), rgb(238, 32, 238));
    box-shadow: 10px 10px 5px #aaaaaa;
}
.login-content .body a{
    color: rgb(238, 32, 238);
    text-decoration: none;
    font-weight: 600;
    margin-top: 5px;
}

.user-content{
    background-image: url("../images/user.jpg");
    height: 100%;
}
.user-content .info{
    height: 100%;
}
.user-content .info .cover-img{
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}
.user-content .info .user-pimg{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    margin-top: -280px;
    margin-left: 55px;
}
.user-content .info .user-name{
    font-size: 50px;
}
.user-content .info .post{
    font-size: 20px;
    font-weight: 500;
}
.user-content .info .name-info{
    color: white;
    margin-top: -200px;
    margin-left: 300px;
}

.footer-content{
    border: 2px solid rgb(219, 218, 218);
    margin-top: 100px;
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    margin-bottom: -15px;
}
.logout-btn{
    margin-top: 20px;
    padding: 10px 0;
    width: 10%;
    margin-left: 90%;
    border: 2px solid red;
    border-radius: 5px;
    background: transparent;
    color: red;
    font-weight: 500;    
    transition: 0.5s;
    backdrop-filter: blur(5px);
}
.logout-btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.main-grid{
    /*margin-top: 150px;*/
    margin: 150px 0;
}

.social-info, .user-info{
    height: 100%;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: 2px solid rgb(219, 218, 218);
}
.social-info .title, .user-info .title{
    text-align: center;
    font-weight: 600;
}
.social-info .body, .user-info .body{
    margin: 20px;
}
.social-info .body{
    font-size: 20px;
}

.social-info .body i{
    line-height: 1.8;
}
.social-info .body .social-btn{
    width: 100%;
    margin-top: 25px;
    border: 1px solid rgb(42, 92, 230);
    color: rgb(42, 92, 230);
    background: transparent;
    height: 50px;
    border-radius: 2px;
    transition: 0.5s;
}
.social-info .body .social-btn:hover{
    background-color: rgb(42, 92, 230);
    cursor: pointer;
    color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.dash-input{
    width: 100%;
    height: 35px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(42, 92, 230);
    padding-left: 15px;
    

}
.footer-content a{
    text-decoration: none;
}